@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Saira Condensed', sans-serif;
}
#menu img {
   margin: 7px 10px;
   float: right;
}
#menu {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 60px;
   transition: background-color 0.3s ease-in-out;
}

#menu .item {
   display: inline-block;
   padding: 15px;
   color: white;
   text-decoration: none;
   font-size: 17px;
   margin: 7px 10px;
   margin-top: 3px;
}

/* Nova classe a ser atribuída ao elemento com os estilos desejados */
.mudaCor {
   background-color: #00071a;
   color: white;
}

.centro {
   margin-top: 100px;
   display:grid;
   place-items:center;
}
#body-wrapper {
   display: flex;
   align-items: center;
    justify-content:right ;
    width: 1120px;
    margin: 15px;
    height: 6vh;  
    margin-top: 225px;
}

#body-wrapper-1 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10vh; 
   margin: 1px;
   
   

}


.linha-vertical {
   position: absolute;
   width: 1px;
   height: calc(100% - 40vh);
   background-color: #c9cc00; 
   left: 25%; 
   top: calc(40vh + 20px); 
   transform: translateX(-50%); 
   z-index: 1; 
}

#image-container {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 #image-wrapper {
   flex: 1;
   display: flex;
   justify-content: right;
   align-items: center;
   height: 0vh; 
   margin-top: 100px;
 }
 .image {
   display: inline-block;
   vertical-align: middle;
   margin-right: 90px ;
   margin-top: 190px;
   border: 1px solid #0c0c0c;
   border-radius: 3%;
 }
 h1{
   color:#c9cc00;
font-size:50px;
text-transform:capitalize;
margin-bottom:10px;
margin-top: 600px;
width: 1px;
}
h2{
   color:#ffffff;
font-size:50px;
text-transform:capitalize;
margin-bottom:10px;
margin-top: 15px;
width: 1px;
}
@media (max-width:768px) {
   :root{
     font-size:14px;
   }
}
@media (max-width:1366px) {
   :root{
     font-size:20px;
   }
}